modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 18996
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BAypPcrZD_vrPJo6GBSQiTix_E8vr9qos6VevXCj0yGvNuohQxFr0NDYSuuOA5iJYCqtppHxSVeBUO-wwxZ6OpA"
VAPID_PRIVATE_KEY = "3I104lmh3t_rJoJldFqaspQF2TQSo8iPuJN5QDBwsR8"
VAPID_SUBJECT = "mailto:admin@pacane.dz"
VITE_VAPID_PUBLIC_KEY = "BAypPcrZD_vrPJo6GBSQiTix_E8vr9qos6VevXCj0yGvNuohQxFr0NDYSuuOA5iJYCqtppHxSVeBUO-wwxZ6OpA"
